<div class="container">
    <h2>Customers</h2>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% _.each(customers, function(customer) { %>
            <tr>
                <td><%= customer.id %></td>
                <td><%- customer.name %></td>
                <td><%- customer.email %></td>
                <td><%- customer.state %></td>
                <td><a href="/customer/show/<%= customer.id %>">Show Detail</a></td>
                <td><a href="/customer/edit/<%= customer.id %>">Edit</a></td>
                <td><a href="/customer/destroy/<%= customer.id %>">Delete</a></td>
            </tr>
        <% });%>
    </table>
</div>